@import url('https://fonts.googleapis.com/css?family=Nunito');

@font-face {
    font-family: 'Nunito';
    src: url('http://fonts.googleapis.com/css?family=Nunito');
}

body {
    font-family: Nunito, sans-serif;
    text-align: center;
}

.top-bar {
    white-space: nowrap;
    float: right;
}



input {
    width: 100%;
    font-size:100%;
    padding: 8px 8px;
    color: black;
    margin: 8px 8px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1.5px solid DodgerBlue;
}

input[type=submit] {
    width: 128px;
    font-size:100%;
}

select {
    width: 100%;
    padding: 4px 4px;
    margin: 8px 8px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1.5px solid DodgerBlue;
}

.blink {
    width: 128px;
    font-size:100%;
    float:right;
    padding: 8px 8px;
    margin: 8px 8px;
    display: inline;
    color: black;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1.5px solid DodgerBlue;
}
.tabs {
    width: 25%;
    font-size:100%;
    padding: 8px 8px;
    color: black;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1.5px solid DodgerBlue;
    float:left;
}

p1 {
    font-size:160%;
    color: DodgerBlue;
}

label {
    font-size:120%;
    color:DodgerBlue;
}

option {
    font-size:100%;
    padding:8px 8px;
    color:black;
}

.prof_box {
    width:50%;
    position:relative;
    border-radius: 8px;
    padding: 8px 8px;
    border: 1px solid gray;
    display:inline-block;
    height:auto;
}

.tiles {
  display: grid;
  grid-gap: 15px;
  width:80%;
  grid-template-columns: repeat(auto-fit, 300px);
}
.tiles > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  border-radius: 8px;
  padding: 8px 8px;
  border: 1px solid gray;
}

.menu {
  list-style-type: none;
  white-space: nowrap;

  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.menu li {
  float: left;
}

.menu img {
    width:128px; 
    float: right;
    padding: 8px 8px;
}

.menu li button {
  display: inline-block;
  background-color: #333;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu li button:hover {
  background-color: #111;
}
